.DateBtn{
	-fx-background-color: white;
	-fx-text-fill: black;
}

.DateBtn:hover{
	-fx-background-color: #ff6532;
	-fx-text-fill: white;
}

.DateBtn.selected{
	-fx-background-color: #ff6532;
	-fx-text-fill: white;
}